altair==4.0.1
attrs==19.3.0
backcall==0.1.0
bokeh==2.0.0
certifi==2019.11.28
cycler==0.10.0
decorator==4.4.2
dynetx==0.2.2
entrypoints==0.3
future==0.18.2
ipdb==0.13.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.0
ndlib==5.0.0
netdispatch==0.0.3
networkx==2.4
numpy==1.18.1
packaging==20.3
pandas==1.0.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-igraph==0.8.0
pytz==2019.3
PyYAML==5.3
scipy==1.4.1
six==1.14.0
streamlit==0.56.0
texttable==1.6.2
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
typing-extensions==3.7.4.1
wcwidth==0.1.8
